API_PORT=3000
CLIENT_PORT=5173
HOME_DIR=C:/Users/yourpcname/docker-mysql-data
DATABASE_HOST=medicalClinic
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_ROOT_PASSWORD=rootpassword
DATABASE_NAME=medicalClinic
DATABASE_CONNECTION_LIMIT=10
JWT_SECRET="key"
JWT_SALT=10
GMAIL_USER=youremail@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
