API_PORT=3000
CLIENT_PORT=5173
HOME_DIR=C:/Users/username/docker-mysql-data
DATABASE_HOST=localhost
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_ROOT_PASSWORD=root
DATABASE_NAME=databaseName
DATABASE_CONNECTION_LIMIT=10
JWT_SECRET="key"