API_PORT=3000
CLIENT_PORT=5173
HOME_DIR=C:/Users/yourpcname/docker-mysql-data
DATABASE_HOST=databaseHost
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_ROOT_PASSWORD=rootpassword
DATABASE_NAME=database_name
DATABASE_CONNECTION_LIMIT=10